@model ShopNetApp.Models.ApplicationType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-6">
        <table class="table mt-1">
            <tr>
                <th style="width:40%;">Application Type Id</th>
                <td style="width:60%;">@Model.Id</td>
            </tr>
            <tr>
                <th style="width:40%;">Application Type Name</th>
                <td style="width:60%;">@Model.Name</td>
            </tr>
        </table>
    </div>
</div>
