<!--===== SESSION =====-->
<!-- Using Statements -->
@using Microsoft.AspNetCore.Http
<!-- using services in class/controller => DependencyInjection(constructor)-->
<!-- using services in view => inject -->
<!--Inject Services -->
@inject IHttpContextAccessor HttpContextAccessor
<!--Session Extensions(Utilities)-->
@using ShopNetApp.Utilities


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopNetApp</title>

    <!-- FONT + FontAwesome -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/0bc3b2b3bf.js" crossorigin="anonymous"></script>

    <!--JQUERY (For Client Side Validation)-->
    <!-- Dom validations: JQUERY
         Define ValidationRules: JQuery.Validate
         Show/Hide Error Message: JQuery.validate.unoburtsive -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--CSS-->
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/table.css" rel="stylesheet" />

</head>
<body>

    @*<-----NAVBAR ------>*@
    @*====================*@
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ShopNetApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Items -->
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- HOME -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <!-------------->
                        <!-- Dropdown -->
                        <!-------------->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Content Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!-- CATEGORY -->
                                <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                                <!-- ApplicationType -->
                                <a class="nav-link text-dark" asp-area="" asp-controller="ApplicationType" asp-action="Index">Application Type</a>
                                <!-- PRODUCT -->
                                <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                            </div>
                        </li>
                    </ul>

                </div>

                <!--=============--->
                <!-- ShoppingCART -->
                <!--==============-->
                <div style="float:right">
                    <!-- If Session Exists-->
                    @if (HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WC.SessionCart) != null)
                    {
                        <!--Go to CartPage: Cart/Index [cart(items)]-->
                        <a class="nav-link" asp-controller="Cart" asp-action="Index">
                            <!-- Count ShoppingCART items -->
                            @{var count = HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WC.SessionCart).Count;}
                            <i class="fas fa-shopping-cart"></i>&nbsp;(@count)
                        </a>
                    }
                    else
                    { <!-- If Session does not exists [cart(0)]-->
                        <!-- ShoppingCartItems = 0 -->
                        <a class="nav-link" asp-controller="Cart" asp-action="Index">
                            <i class="fas fa-shopping-cart"></i>&nbsp;(0)
                        </a>
                    }
                </div>
                <!------------------>


                <!--=========================--->
                <!-- IDENTITY(Register|Login) -->
                <!--==========================-->
                <div>
                    <partial name="_LoginPartial" />
                </div>
                <!------------------------------>

            </div>
        </nav>
    </header>



    @*<---MAIN CONTENT--->*@
    @*====================*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @*<-----FOOTER ------>*@
    @*====================*@
    <br /><br /><br /><br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ShopNetApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>



    @*====================*@
    @*<-----SCRIPTS ----->*@
    @*====================*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- SweetAlert2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- CKEditor-->
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>

    <!--SCRIPTS-->
    <script src="~/js/table.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
