@model ShopNetApp.Models.ViewModel.HomeViewModel

@{
    ViewData["Title"] = "HomePage";
    ViewData["Controller"] = "Home";
    ViewData["Action"] = "Index";
}

@*-- CSS --*@
<link href="~/css/card.css" rel="stylesheet" />


<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">ShopNet</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>


<!-- Container -->
<div class="container mt-2">

    <div class="col-12">
        <h2 class="mt-4 mb-4">Products</h2>
    </div>

    <!-- CATEGORY FILTERS (javaScript)-->
    @if (Model.Categories.Count() > 0)
    {
        <div class="mt-4 mb-4">
            <h5 class="text-info">Category Filters</h5>
            <button class="btn btn-dark filter-button" data-filter="all">All</button>
            @foreach (var catg in Model.Categories)
            {
                <!--replace ' ' in categoryName with '_'-->
                <button class="btn btn-outline-secondary filter-button" data-filter="@catg.Name.Replace(' ','_')">
                    @catg.Name
                </button>
            }
        </div>

    }
    else
    {
        <p class="text-danger">No Category exists!</p>
    }





    <!-- PRODUCTS -->
    @if (Model.Products.Count() > 0)
    {
        <div class="row">
            @foreach (var prod in Model.Products)
            {
                <!--Product Card PartialView-->
                <!-- Pass Model to ProductCardPartial View-->
                <div class="col-12 col-md-6 col-lg-4 filter @prod.Category.Name.Replace(' ','_')">
                    <partial name="_ProductCardPartial" model="prod" />
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-danger">No Products exists!</p>
    }
</div>
    
    


@*====== SCRIPTS Section (In Layout) =======*@
@section Scripts{
    <script>

        //Toggle filter-button(class) based on selection
        //***********************************************
        //.filter = class on Product card div
        //filter-button = class on category button
        //data-filter = category button attribute
        $(document).ready(function(){
            $(".filter-button").click(function(){
                var value = $(this).attr("data-filter");
                //console.log(value);

                if (value == "all") {
                    //Show all results
                    $(".filter").show("1000");

                    //console.log('show all filter!');
                }
                else {
                    //dont show all results
                    $(".filter").not("."+value).hide("3000");
                    //show only filter producrs
                    $(".filter").filter("." + value).show("3000");

                    //console.log('other filter!')
                }
            });
        });

    </script>
}